<%= javascript_pack_tag 'about.js' =%>  
<div class="container-fluid g-0" id="backgrounds_container">
    <div class="w-100 d-flex justify-content-center" id="logo">
        <div class="logo_wrapper d-flex "  id="logo_img">
            <a href="/"><img src="ruckus_logo.png" class="logo_img"></a>
            <ul class="nav flex-column transparent-background" id="nav-menu-logo">
                <li class="nav-item">
                    <%= link_to 'About us', about_path, :class=>'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
                </li>

            </ul>
        
        </div>
    </div>
        <div class="page-container" id="1">
            <%= image_tag('about/abt1.webp', width: '100%', class: "background_image z-0") %>
            <div class="row content">
                <div class="col-lg-5 col-sm-12 transparent-background">
                    <div class="h-100 content-wrapper align-items-center">
                        <div class="content-body text-center">
                            <h1>About us</h1>
                            <br>
                            <p>Based in Sheffield, UK, Ruckus Peak aims to provide vintage adult clothing from quality brands. Inspired by the greenery of our city and the surrounding Peak District, we input this into our brand and our products. Putting our upmost attention into the quality and sustainability of our products, Ruckus Peak offers quality clothing for hikers, climbers and outwear enthusiasts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-0 content-wrapper">
           
                </div>
                <div class="col-lg-4 col-sm-12 content-wrapper d-flex align-items-end">
                    <div class="content-body">
                       <a class="nav-icon py-5" href="#2">
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container" id="2">

            <%= image_tag('about/abt3.jpg', width: '100%', class: "background_image") %>
            <div class="row content g-0">
                <div class="col-lg-5 content-wrapper py-5">
                    <div class="d-flex flex-wrap align-content-between h-100">
                        <div class="d-flex w-100 justify-content-center">
                            <a class="nav-icon text-center" href="#1">
                                <i class="fa-solid fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="transparent-background process_diagram_container">
                            <%= image_tag('process_diagram.png', width: '100%', id:"process")%>
                        </div>
                        <div class="d-flex w-100 justify-content-center">
                            <a class="nav-icon text-center" href="#3">
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 content-wrapper">
           
                </div>
                <div class="col-lg-4 content-wrapper transparent-background ">
                     <div class="content-body text-center">
                        <h1>How we do things</h1>
                        <br>
                        <p>Ruckus Peak sources adult outwear in need of a touch of TLC from second hand retailers and sellers in order to revive the items to produce quality clothing for an affordable budget. All products are sourced locally, handpicked by ourselves and acquired in the most efficient and environmentally responsible way possible.</p>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="page-container" id="3">
            <%= image_tag('about/abt5.jpg', width: '100%', class: "background_image") %>
            <div class="row content">
                <div class="col-lg-4 transparent-background">
                    <div class="h-100 content-wrapper">
                        <div class="content-body text-center">
                            <h1>What we sell</h1>
                            <br>
                            <br>
                            <p>We supply second handed branded clothes, subjected to thorough quality checks and cleaning processes. Our primary focus is providing the resources and the abilities to give old items a new lease of life. Primary brands included within the Ruckus Peak store will include known brands such as The North Face, Berghaus, RAB and many more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 content-wrapper">
           
                </div>
                <div class="col-lg-4 content-wrapper p-5">
                    <div class="d-flex flex-wrap align-content-between h-100">
                        <div class="w-100 content-body">
                            <a class="nav-icon text-center w-100" href="#2">
                                <i class="fa-solid fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="w-100 content-body">
                            <div class="text-center">
                                <%= render partial: 'welcome/clothes_carousel'%>
                            </div>
                        </div>
                        <div class="w-100 content-body">
                            <a class="nav-icon text-center w-100" href="#4">
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container last-div" id="4">
            <%= image_tag('about/train.jpg', width: '100%', class: "background_image") %>
             <div class="row content">
                <div class="col-12 h-100">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <h1 class="coming_banner text-shadow">Coming Winter 2022</h1>
                    </div>
                </div>
            </div>
        </div>
    
</div>

