<%= javascript_pack_tag 'about.js' =%>
<div class="d-flex justify-content-center w-100" id="logo">
        <a href="/"><img src="ruckus_logo.png" class="logo_img"></a>
        <ul class="nav flex-column" id="nav-menu-logo">
            <li class="nav-item">
                <%= link_to 'About us', about_path, :class=>'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Products</a>
            </li>
        </ul>
</div>
<div class="container-fluid g-0" id="backgrounds_container">
        <div class="page-container" id="1">
            <%= image_tag('about/moon.jpg', width: '100%', class: "background_image z-0") %>
            <div class="row content">
                <div class="col-lg-4">
                    <div class="h-100 content-wrapper">
                        <div class="content-body">
                            <h1>About us...</h1>
                            <p>Inspired by the greenery of our city and the surrounding Peak District, we put our uttermost attention in quality and sustainability.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 content-wrapper">
           
                </div>
                <div class="col-lg-4 content-wrapper">
                    <div class="d-flex flex-column align-items-center content-body">
                        <a href="#2"><i class="fa-duotone fa-chevrons-down"></i><h1>Find out more!</h1></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container" id="2">
        
            <%= image_tag('about/sunset.jpg', width: '100%', class: "background_image") %>
            <div class="row content">
                <div class="col-lg-4">
                    <div class="h-100 content-wrapper">
                        <div class="content-body">
                            <h1>How we do things</h1>
                            <p>Based in Sheffield, UK, Ruckus Peak aims to provide vintage adult clothing from quality brands. For hikers﻿, for climbers, for lifestyle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 content-wrapper">
           
                </div>
                <div class="col-lg-4 content-wrapper">
                    <div class="d-flex flex-column align-items-center content-body">
                        <a href="#3"><i class="fa-duotone fa-chevrons-down"><h1>Find out more!</h1></a>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="page-container" id="3">
            <%= image_tag('about/neowise.jpg', width: '100%', class: "background_image") %>
            <div class="row content">
                <div class="col-lg-4">
                    <div class="h-100 content-wrapper">
                        <div class="content-body">
                            <h1>What we sell</h1>
                            <p>We supply second hand branded clothes, subjected to thorough cleaning and quality checks, giving items a new lease of life﻿  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 content-wrapper">
           
                </div>
                <div class="col-lg-4 content-wrapper">
                    <div class="d-flex flex-column align-items-center content-body">
                        <a href="#3"><i class="fa-duotone fa-chevrons-down"><h1>Find out more!</h1></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container" id="4">
            <%= image_tag('about/train.jpg', width: '100%', class: "background_image") %>
        </div>
    
</div>

<script>
    $(".container-fluid").kendoContextMenu({
        scrollable: {
            distance: 2000
        }
    });

    document.getElementById('logo').style.top = 0;
</script>
