<%= javascript_pack_tag 'welcome' =%>
<div class="container-fluid" id="welcome_page">
<!-- Button trigger modal -->

<!-- Modal -->

    <div class="row">
        <div id="logo-homepage" class="col-lg-5 p-0">
        <span id="slogan">
            <h1 >Quality doesn't have to cost</h1>
        
        </span>
            <%= image_tag('walking.jpg', class: "w-100")%>
        </div>
        <div class="col-lg-7 p-0 shadow-lg">
            <ul class="nav flex-column z-100" id="nav-menu">
                <li class="nav-item">
                    <%= link_to 'About us', about_path, :class=>'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'FAQs', faq_path, :class=>'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contacts', contacts_path, :class=>'nav-link' %>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Products</a>
                </li>
            </ul>
            <img src="ruckus_logo.png" alt="" class="w-100" id="homepage_logo">
            <div id="sign_me_up" class=" d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <span>
                        <p class="text-center" id="sign_me_up_caption">
                            Exciting second hand branded clothes reselling coming to the UK
                        </p>
                        <p class="text-center">Coming end of 2022 ....</p>
                    </span>
                    
                    <div class="d-flex justify-content-center">
                    <%= link_to 'Sign up', '#',  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#signUpModal', class: 'btn btn-success'}  %>                    </div>
                            
                </div>
            </div>
            <div class="d-flex justify-content-around" id="logos">
                <%= image_tag('the-north-face-logo.png', width: '10%') %>
                <%= image_tag('berghaus.svg', width: '10%') %>
                <%= image_tag('Adidas_Logo.svg.png', width: '10%') %>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signUpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
           <%= render 'sign_up_modal' %>
        </div>
    </div>
</div>


<script>
    document.body.style.overflow= "hidden";
</script>