<%= javascript_pack_tag 'global.js'%>
<footer class="text-black text-center">
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-4">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column links p-3">
                
                    <%= link_to 'Home', root_path%>
                    <%= link_to 'About Us', about_path%>
                    <%= link_to 'Contacts', contacts_path%>
                    <%= link_to 'FAQ', faq_path%>
                </div>
                <div class="d-flex flex-column links p-3">
                
                    <%= link_to 'Legal stuff', root_path%>
                    <%= link_to 'Privacy policy', about_path%>
                    <%= link_to 'Security', contacts_path%>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-around">

                <a href="http://twitter.com">
                    <i class="fa-brands fa-twitter twitter"></i>
                </a>
                <a href="http://facebook.com">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="http://instagram.com">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="mailto:ruckuspeak@gmail.com">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <img src="ruckus_logo.png" alt="" class="w-25">
            </div>
            <div class="text-center w-100 p-3">
                © 2022 Copyright: <a href="/" class="text-white"></a>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex align-items-center justify-content-center sign-up">
                <input type="text">
                <button class="btn" data-remote='true'>Sign me up</button>
            </div>
        </div>
    </div>
</div>

</footer>